/* Team Page Styles */
.team-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.team-header {
    color: transparent;
    margin-top: 6rem;
    position: relative;
    background: linear-gradient(90deg, #ff3333, #cc0000);
    background-clip: text;
    -webkit-background-clip: text;
    animation: glow 2s infinite;
    filter: drop-shadow(0 0 8px rgba(255, 0, 0, 0.5));
    /* padding: 20px; */
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.5px;
    font-weight: 600;
    width: 50%;
    border-radius: 50px;
}

.team-header::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 3px;
    background: linear-gradient(90deg, transparent, #ff0000, transparent);
    animation: glow 2s infinite;
}

@keyframes glow {
    0%, 100% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.team-card {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 9px 20px rgba(255, 0, 0, 0.3);
    text-align: center;
    max-width: 350px;
    transform: translateY(10px);
    opacity: 0;
    transition: all 2s ease-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.team-card.loaded {
    opacity: 1;
    transform: translateY(0);
}

/* Hover Effects */
.team-card:hover {
    transform: translateY(-5px) scale(1.05);
    border-color: #ff5252;
}

.team-card:hover .team-name {
    color: #f2f2fc;
}

.team-card:hover .team-description {
    color: #ff5252;
}

.team-image {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 30px rgba(255, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.team-card:hover .team-image {
    transform: scale(1.1);
}

.team-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-name {
    color: #ff5252;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    transition: color 0.3s ease-in-out;
}

.team-description {
    color: #ccc;
    font-size: 0.9rem;
    margin-top: 8px;
    line-height: 1.4;
    transition: color 0.3s ease-in-out;
}

.team-description:hover {
    color: #ff5252;
}

.team-footer {
    background-color: #b71c1c;
    text-align: center;
    padding: 15px;
    margin-top: auto;
}
